   <!--banner start -->
   <app-slider></app-slider>
   <!--banner end -->
  <!-- heritage start -->
  <app-heritage ></app-heritage>
   <!-- heritage end -->
   <!-- heritage details start-->
   <app-heritage-details id="about" ></app-heritage-details>
   <!-- heritage details end-->
   <!-- heritage image gallery -->
   <app-heritage-image-gallery></app-heritage-image-gallery>
   <!-- heritage image gallery end-->
   <!-- grid gallery -->
   <app-grid-gallery id="download"></app-grid-gallery>
   <!-- grid gallery end-->
   <!-- video tag -->
   <app-video-tag></app-video-tag>
   <!-- video tag end -->
   <!-- contact us  -->
   <app-contact-us id="contact"></app-contact-us>
   <!-- contact us  end--> 
   <!-- blog start -->
   <app-blog id="blog"></app-blog>
   <!-- blog end -->